@import url(./font.css);

:root {
    --text-color: 'RR';
    --title-color: 'RM';
    --pink: #6E38F7;
    --gray: #95A1BB;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1400px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 122px;
}

.like-maket,
.time-maket {
    width: 358px;
    height: 276px;
}

.time-btn {
    border: 2px, var(--pink), solid;
    color: var(--pink);
    width: 107px;
    height: 46px;
    margin: 30px;
    background-color: white;
}

.like-btn {
    width: 157px;
    height: 46px;
    color: white;
    background-color: var(--pink);
    border-color: var(--pink);
}